.favorite-list {
  color: var(--white);
  .add-artists-wrap {
    display: flex;
    .add-artists-list {
      display: flex;
      flex-wrap: nowrap;
      gap: 2.4rem;
      max-width: 120rem;
      width: 100%;
      margin: 3.2rem auto 0;
    }
  }
}

@media (max-width: 1200px) {
  .favorite-list {
    .add-artists-wrap {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .add-artists-list {
        gap: 2.4rem;
      }
    }
  }
}
