.chart {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: var(--rich-black);
  .chart-title-content {
    display: flex;
    width: auto;
    height: auto;
    .chart-title-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60rem;
      height: auto;
      padding: 1.2rem;
      gap: 1.1rem;
      border: none;
      background: none;
      &:hover {
        cursor: pointer;
        color: var(--white);
        background-color: rgba(255, 255, 255, 0.1);
        border-bottom: solid 0.1rem var(--white);
        transition: 0.5s;
      }
    }
    .chart-title-btn-text {
      font-weight: var(--normal);
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: var(--sonic-silver);
    }
  }
}
