.chart-rank-content {
  display: flex;
  align-items: center;
  width: 588px;
  height: 70px;
  border-radius: 8px;
  gap: 24px; /*옆에 타 이티스트 컴포넌트와 gap이 24px여야함*/
  background-color: var(--rich-black);
  .artist-profile {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    .artist-rank {
      display: flex;
      font-family: 'Pretendard';
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 19px;
      color: var(--brand-orange);
      opacity: 0.6;
    }
    .ranked-artist {
      font-family: 'Pretendard';
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 19px;
      color: var(--white);
    }
  }
  .total-votes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 19px;
    color: var(--white);
    opacity: 0.6;
  }
}