.profile-delete {
  position: absolute;
  left: 70%;
  top: 1.43%;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  background-color: #ffffff;
  background-position: center;
  border: 2.87143px solid #02000e;
  .profile-delete-img {
    position: absolute;
    left: 23%;
    top: 23%;
    width: 1.2rem;
    height: 1.2rem;
  }

  &.medium {
    width: 4rem;
    height: 4rem;
    .profile-delete-img {
      position: absolute;
      left: 26%;
      top: 26%;
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  &.large {
    width: 5rem;
    height: 5rem;
    .profile-delete-img {
      position: absolute;
      left: 28%;
      top: 28%;
      width: 2rem;
      height: 2rem;
    }
  }
}
