.view-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.1rem;
  background-color: var(--rich-black);
  .medium-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 4.2rem;
    border: solid 0.1rem rgba(241, 238, 249, 0.4);
    border-radius: 0.3rem;
    padding: 0.8rem 14.3rem;
    background: none;
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.1);
      transition: 0.5s;
    }
  }
  .medium-btn-text {
    font-weight: var(--bold);
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: var(--white);
  }
}